07-onewaysynch-using-batch-solution/target/META-INF/mule-src/06-onewaysynch-using-batch/src/main/mule/onewaysynch-using-batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c174315a-0259-492a-acb5-55f112ed847d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<db:config name="db1" doc:name="Database Config" doc:id="042279c0-ca5f-43eb-b9ad-f4a6023bda31" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="db1" />
	</db:config>
	<db:config name="db2" doc:name="Database Config" doc:id="36cf7b26-febc-4d9f-803a-c4340812f269" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="db2" />
	</db:config>
	<flow name="03-using-vmsFlow" doc:id="dca11a43-10ff-4d82-b25b-16ba13a80d80" initialState="started">
		<http:listener doc:name="Listener" doc:id="d3bf25cf-356b-4fa2-8a39-9a2a094344da" config-ref="HTTP_Listener_config" path="/start"/>
		<os:retrieve doc:name="Retrieve-from-objectstore" doc:id="f917a056-ff65-4cc0-a7a1-357e77823473" key="lastupdatedtime" target="lastupdatedtime">
			<os:default-value ><![CDATA[#['1900-04-10' as Date]]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select-from-db1" doc:id="0fcf5c24-c8e4-4d4f-bae2-8cbe169fe7fc" config-ref="db1">
			<db:sql >select * from product where offer_valid_until &gt;:lastpolltime</db:sql>
			<db:input-parameters ><![CDATA[#[{
	lastpolltime: vars.lastupdatedtime
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="371a5832-4aa2-4fda-82d0-650cba07c671" message="#['After Select ---- total records : ' ++ sizeOf(payload)]"/>
		<batch:job jobName="using-batchBatch_Jobinvmflow" doc:id="27cda227-8d34-4eed-816d-7945b61e8b15" blockSize="20" maxConcurrency="200">
			<batch:process-records>
				<batch:step name="step1" doc:id="36734efb-83bb-40ac-af86-8cb36fcc52d0">
					<ee:transform doc:name="Transform Message" doc:id="94f99f87-0bfe-4fe4-b39f-f8850f3e1b57">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0 
output application/java
---
{ 
	bname:payload.brand_name, 
	name:payload.name,
	offerprice: payload.offer_price,
	originalprice: payload.original_price
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="8570dc86-d855-4bd9-b1af-fd0fc135131b" size="20">
						<logger level="INFO" doc:name="Logger" doc:id="8211da08-a6ff-49e1-abfe-407964a61530" message="#['Inside Batch Aggregator size of payload ' ++ sizeOf(payload) as String]" />
						<db:bulk-insert doc:name="Bulk insert-into-db2" doc:id="9c56d7b6-504c-4d1f-b25e-657633cacb9f" config-ref="db2">
							<db:bulk-input-parameters><![CDATA[#[%dw 2.0
output application/java
---
payload map {
	bname: $.bname as String,
	originalprice: $.originalprice as Number,
	name: $.name as String,
	offerprice: $.offerprice as Number
}]]]></db:bulk-input-parameters>
							<db:sql>INSERT INTO product(brand_name,name,offer_price,offer_valid_until,original_price)
VALUES (:bname,:name ,:offerprice,now(),:originalprice)</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<os:store doc:name="Store-into-objectstore" doc:id="ec72d049-11e0-42ad-91d3-f71494a34ec1" key="lastupdatedtime">
			<os:value><![CDATA[#[now()]]]></os:value>
		</os:store>
				<logger level="INFO" doc:name="Logger" doc:id="2446ee61-45da-4a26-b0da-fcce2217584f" message="Batch Completed" />
			</batch:on-complete>
		</batch:job>
		<set-payload value="#['Handled Request Succesfully!!!']" doc:name="Set Payload" doc:id="a8bdd05d-0cbe-4ebf-8587-82335e8703a1" />
	
</flow>
</mule>
